.y-tab--list {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  border-bottom: 1px solid #eee;
}
.y-tab--item {
  flex-shrink: 0;
  padding-left: 36px;
  cursor: pointer;
  font-size: 14px;
}
.y-tab--item:hover {
  color: var(--y-text-color-primary);
}
.y-tab--item:first-child {
  padding-left: 0;
}
.y-tab--content {
  padding: 6px 0;
}
.y-tab--active {
  color: var(--y-text-color-primary);
}
.y-tab--line {
  position: absolute;
  bottom: -1px;
  height: 2px;
  background: var(--y-text-color-primary);
  transition: all 0.25s;
}
.y-tab--pain {
  padding: 20px 0;
}
